body{
    margin: 0px; /* забираємо стандартні відступи в тега body */
}

/* Ваші стилі */

header{
   display: flex;
   width: 1530px;
   height: 80px;
   padding: 0px 40px;
   justify-content: space-between;
   align-items: center;
   flex-shrink: 0;
   margin: 0 auto;
   background: #D9D9D9;
   z-index: 1; 
   top: 0px;
   left: 0px;
   position: fixed;
   width: 100%;
}

.logo{
  width: 140px;
  height: 85px;
  flex-shrink: 0;
}

.menu{
   display: flex;
   height: 80px;
   padding: 30px 0px;
   justify-content: center;
   align-items: center;
   gap: 40px;
   flex: 1 0 0;
}

.menu-elements{
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: none;  
}

main{
    padding: 5%;
}

.container{
    display: flex;
    width: 100%;
    height: 550px;
    align-items: center;
    margin-bottom: 120px;
    border-radius: 32px;
    background: #DCE5E2 top center / 100% repeat url(https://s3-alpha-sig.figma.com/img/2ad1/2a7d/dc79877d3756c9c2130b41b3194deba3?Expires=1706486400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=gqqVeEtnbiPc2rjxDAQfZN1lRUGulbZG70BjRSgLB78bLrw2Na-m4xTZRajlJOsJ6RfJ8laGZy23R~LTE5XMu44h2OVWynttK9QhOY9nOdWo3aM2-2M1swtysIXome3gwgLoYAaSWtrz4lNNZWxxfwNf7KovF1lhr2yAK-vaJs8gSCk1OppJXQgmbv17CwxCMTC7UIl59VTPqXt8cv3ozsCcM9~Se1pt4N1YLzC8imZZIhrM9z3XCzHGGXSniUKJUEGmY1~6GLxkyLgkpwoWHLiwjAWEhAoSH13hMfqBGlb~~lZVbVFVynwxgTE4dnD1noZ2u5vBMfWsOlS0udSxXw__);
}

.block{
    display: flex;
    padding: 90px 54px;
    flex-direction: column;
    align-items: flex-start;
    gap: 44px;
    flex-grow: 1;
    align-self: stretch;
}


form {
    display: block;
    margin-top: 20 auto;
}

h2{
   color: #FFF;
   font-family: Inter;
   font-size: 30px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

p{
   color: #FFF;
   font-family: Inter;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

a:hover{
    color: white;
}

.main-text{
    margin: 0;
    max-width: 500px;
    color: #000;
    font-family: Readex Pro;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 69.6px; /* 120% */
}

.text{
    color: white;
}

.text-card{
    color: #000;
    font-family: Readex Pro;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.5px; /* 125% */
}

.price-card{
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px; /* 120% */
}

.card-img{
    width: 244px;
    height: 214px;
}

.container-cards{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 72px;
}
